* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: var(--ft-primary);
  font-size: 62.5%;
  --ft-primary: "Staatliches", cursive;
  --ft-secondary-mobile: "Palanquin", sans-serif;
  --ft-secondary-desktop: "Roboto", sans-serif;
  --fc-header: #ffffff;
  --fc-description-mobile: #23053a;
  --fc-description-desktop: #ffffff;
  --fc-ice-cream-title: #4a4e69;
  --fs-header: 4rem;
  --fs-page-description-mobile: 1.3rem;
  --fs-page-description-desktop: 2.4rem;
  --fs-ice-cream-title: 2rem;
  --bg-header: #8e9aaf;
  --bg-page-title: #cbc0d3;
  --bg-ice-cream-title: #feeafa;
}

#page {
  display: grid;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
  background: #eff1ff;
}

#ice-cream-wrapper {
  display: grid;
  justify-items: center;
  gap: 3.6rem;
}
#ice-cream-wrapper footer {
  display: none;
}

.title {
  font-family: var(--ft-primary);
  color: var(--fc-header);
  background-color: var(--bg-page-title);
  padding: 0.8rem;
  line-height: 34px;
  letter-spacing: 0.05em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.title h1 {
  -webkit-animation: enlarging 700ms 600ms backwards;
          animation: enlarging 700ms 600ms backwards;
}

.space-info-desktop {
  font-family: var(--ft-secondary-mobile);
  font-size: var(--fs-page-description-mobile);
  color: var(--fc-description-mobile);
  line-height: 2rem;
  text-align: center;
}

.card {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: var(--fs-ice-cream-title);
  -webkit-animation: downToTop 500ms 100ms backwards;
          animation: downToTop 500ms 100ms backwards;
}
.card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;
  padding: 0 2.3rem;
  background-color: var(--bg-ice-cream-title);
  border-radius: 20px;
  font-size: var(--fs-ice-cream-title);
  color: var(--fc-ice-cream-title);
  line-height: 34px;
  letter-spacing: 0.05em;
  -webkit-animation: enlarging 800ms 800ms backwards;
          animation: enlarging 800ms 800ms backwards;
}

header {
  background-color: var(--bg-header);
  text-align: center;
}
header img {
  max-width: 13.7rem;
  margin: 3.2rem auto;
  -webkit-animation: bounceInLeft 700ms 400ms backwards;
          animation: bounceInLeft 700ms 400ms backwards;
}
header p {
  display: none;
}

main {
  display: grid;
  gap: 6.3rem;
  margin: 1.4rem 3.2rem 6rem;
}

@media (min-width: 700px) {
  #page {
    display: flex;
    max-width: 1280px;
    max-height: 720px;
  }
  .title {
    font-family: var(--ft-primary);
    color: var(--fc-header);
    background-color: var(--bg-page-title);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  }
  .title h1 {
    font-size: 4.8rem;
    margin: 2rem auto;
  }
  #ice-cream-wrapper {
    display: grid;
    justify-items: center;
    gap: 3.6rem;
  }
  .space-info-desktop {
    display: none;
  }
  .space-info-mobile {
    display: block;
    width: 27.5rem;
    margin: 3.2rem auto;
    font-family: var(--ft-secondary-desktop);
    font-size: var(--fs-page-description-desktop);
    color: var(--fc-description-desktop);
    line-height: 2rem;
    text-align: center;
  }
  #ice-cream-wrapper {
    grid-template-areas: "A B C" "D E F" "footer footer footer";
    margin: 5rem 8rem;
  }
  #ice-cream-wrapper :nth-child(1) {
    grid-area: A;
  }
  #ice-cream-wrapper :nth-child(2) {
    grid-area: B;
  }
  #ice-cream-wrapper :nth-child(3) {
    grid-area: C;
  }
  #ice-cream-wrapper :nth-child(4) {
    grid-area: D;
  }
  #ice-cream-wrapper :nth-child(5) {
    grid-area: E;
  }
  #ice-cream-wrapper :nth-child(6) {
    grid-area: F;
  }
  #ice-cream-wrapper :nth-child(7) {
    grid-area: footer;
  }
  #ice-cream-wrapper footer {
    display: block;
    font-family: "Open Sans";
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    color: #4a4e69;
  }
  #ice-cream-wrapper footer a {
    text-decoration: none;
    font-weight: 700;
    color: #4a4e69;
  }
  .card h2 {
    display: none;
  }
  header {
    min-width: 37.7rem;
  }
  main {
    width: 100%;
  }
}
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-15px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes bounceInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  60% {
    opacity: 1;
    transform: translateX(-30px);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}
@-webkit-keyframes enlarging {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
}
@keyframes enlarging {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  60% {
    opacity: 1;
    transform: scale(1.1);
  }
  80% {
    transform: scale(1);
  }
}
@-webkit-keyframes downToTop {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes downToTop {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}/*# sourceMappingURL=style.css.map */